<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhanghf.mapper.OrganInfoMapper">
    <resultMap id="BaseResultMap" type="com.zhanghf.po.OrganInfo">
        <result column="organ_id" jdbcType="VARCHAR" property="organId"/>
        <result column="organ_code" jdbcType="VARCHAR" property="organCode"/>
        <result column="organ_name" jdbcType="VARCHAR" property="organName"/>
        <result column="city_info" jdbcType="VARCHAR" property="cityInfo"/>
        <result column="county_info" jdbcType="VARCHAR" property="countyInfo"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="ext_info" jdbcType="VARCHAR" property="extInfo"/>
    </resultMap>

    <sql id="Base_Column_List">
    organ_id, organ_code, organ_name, city_info, county_info, area_code, ext_info
  </sql>

    <select id="organInfoList" parameterType="com.zhanghf.po.OrganInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from organ_info t
        where t.organ_id not in (select distinct ou_guid from ext_matter_info)
    </select>
</mapper>